{
	"arrowParens": "always",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"embeddedLanguageFormatting": "auto",
	"htmlWhitespaceSensitivity": "css",
	"insertPragma": false,
	"jsxSingleQuote": false,
	"proseWrap": "preserve",
	"quoteProps": "as-needed",
	"requirePragma": false,
	"tabWidth": 3,
	"useTabs": true,
	"printWidth": 120,
	"semi": true,
	"trailingComma": "all",
	"singleQuote": true,
	"vueIndentScriptAndStyle": false,
	"endOfLine": "auto"
}
